@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: "Montserrat"
}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 3, 41);
    height: 80px;
    align-items: center;
    padding: 0 15px;
}
.logo{
    color: white;
    margin-left: 20px;
}
.navigation > ul {
    margin-right: 20px;
    display: flex;
    transition: all 0.5s ease;
}
.navigation > ul > li{
    list-style: none;
    margin-right: 15px;
}
.navigation > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 7px 10px;
    transition: 0.5s;
    text-transform: uppercase;
}
.navigation > ul > li > a:hover{
    background-color: #566573;
    border-radius: 4px;
}

.logo-span{
    font-size:30px;
    color: rgb(255, 0, 187);
}

#click{
    display: none;
}

.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click:checked ~ul {
    left: 0;
   
}

#click:checked ~.menu-btn i::before{
    content: '\f00d';

}

/* responsive navigation part */
@media only screen and (max-width:940px) {
    .navigation>ul {
        position:fixed;
        top: 80px;
     
        background-color: rgb(6, 123, 218);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        left: -100%;
    }
    .navigation > ul > li{
        margin: 20px 0;
    }

    .navigation > ul > li > a{
        font-size: 20px;
    }
    .navigation > ul > li > a:hover{
        background: none;
        color: rgb(39, 7, 53);
    }
    .menu-btn{
        display:block;
    }
}

/* header section start */
header{
    background-image: url('image/pexels-djordje-petrovic-590080-2102416.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* width: 100%; */
    
}
/*  secvices section start */

#first-section{
    background-color: rgb(3, 3, 41);
    padding: 50px 0;
}

.services-title{
    color: rgb(222, 100, 13);
    text-align: center;
    padding: 30px 0;
    letter-spacing: 3px;
}

#services-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1100px;
    margin: 0 auto;
    grid-gap: 20px;
}
.single-services{
    text-align: center;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 3px 3px 4px grey;
}
.single-services i {
    font-size: 40px;
}
.single-services h2{
    margin: 10px 0;
}

/* services section responsive part start */

@media only screen and (max-width:688px) {
    #services-parent{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       width: 100%;
       grid-gap: 10px;
    }


}

@media only screen and (min-width:689px) and (max-width:1099px) {
   #services-parent{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       width: 100%;
       grid-gap: 20px;

   }
}

/* Smart Area section start */

.secound-section{
    background-color: #0b2b41;
    padding: 50px 0;
}
.smart-parent{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    text-align: justify;
}
.smart-text{
    color: white;
}

.smart-text > h2{
   margin: 20px 0; 
}
.smart-text > a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #fa983a;
    padding: 10px 13px;
    border-radius: 4px;
    transition: 0.5s;
}
.smart-text > a:hover{
    background-color: #5d330b;
}

@media only screen and (max-width:688px) {
    .smart-parent{
        display: block;
        margin: 0 30px;
    }

    .smart-image img {
        width: 100%;
    }
    .smart-text > h4{
        margin-top: 10px;
    }
    .smart-text{
        text-align: center;
    }
}


@media only screen and (min-width:689px) and (max-width:1100px) {
    .smart-parent{
        display: block;
        margin: 0 6
        0px;
    }

    .smart-image img {
        width: 100%;
    }
    .smart-text > h4{
        margin-top: 10px;
    }
    .smart-text{
        text-align: center;
    }
}
/* Smart Area section END */

/* <!-- About Section Start --> */

.Third-Section{
    background-image:url('image/about\ background-color\ pic.avif') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
}

#about-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 40px;
    color: white;
}
.more-about-vanilla h4{ 
     font-size: 20px;
     margin-bottom: 20px;
}

.more-about-vanilla ul{
    margin: 20px 0;
}
.more-about-vanilla  a{
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    background-color: orange;
    padding: 8px 14px;
    border-radius: 5px;
    color: white;
}
.more-about-vanilla  a:hover{
    background-color: #d05015;
}

.more-about-vanill p{
    text-align: justify;
}

#about-single-item-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.about-single-item{
    background-color: rgb(220, 222, 225);
    color: black;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(191, 109, 8);
}
.about-single-item h4{
    font-size: 20px;
    padding: 20px 0;
    color: #8e44ad ;

}
.about-single-item p{
    color:#903b06;
}

/* About section responsive part start */

@media screen and (max-width:688px) {
    #about-parent{
        display: block;
        margin: 0 30px;
    } 
    
    #about-single-item-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        margin-top: 30px;
    }
    .more-about-vanilla  a{
        margin-bottom: 15px;
    }
}

@media screen and (min-width:689px) and (max-width:1099px) { 

    #about-parent{
        display: block;
        margin: 0 60px;
    }
    .more-about-vanilla  a{
        margin-bottom: 15px;
    }

    #about-single-item-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        margin-top: 30px;
    }
}